<p>book-list</p>

<div
    *ngIf="message"
    class="alert"
    [ngClass]="{ 'alert-success': level === 'success', 'alert-danger': level === 'error' }"
>
    {{ message }}
</div>

<hr />

<div class="d-flex justify-content-start gap-2 flex-wrap" *ngIf="bookResponse?.content?.length">
    <app-book-card 
        *ngFor="let book of bookResponse.content" 
        [book]="book"
        (borrow)="onBorrow($event)">
    </app-book-card>
</div>

<div class="pagination-container d-flex justify-content-center mt-4" *ngIf="bookResponse?.content?.length">
    <div class="pagination custom-pagination">
        <!-- First Page -->
        <li class="page-item">
            <a class="page-link"
                href="javascript:void(0)"
                (click)="gotoFirstPage()"
                [class.disabled]="page === 0"
                aria-label="First">
                <span class="icon">&#171;</span> <!-- « -->
            </a>
        </li>

        <!-- Previous Page -->
        <li class="page-item">
            <a class="page-link"
                href="javascript:void(0)"
                (click)="gotoPreviousPage()"
                [class.disabled]="page === 0"
                aria-label="Previous">
                <span class="icon">&#8249;</span> <!-- ‹ -->
            </a>
        </li>

        <!-- Page Numbers -->
        <li class="page-item" *ngFor="let _ of [].constructor(bookResponse.totalPages); let pageIndex = index">
            <a class="page-link"
                href="javascript:void(0)"
                (click)="gotoPage(pageIndex)"
                [class.active]="pageIndex === page">
                {{ pageIndex + 1 }}
            </a>
        </li>

        <!-- Next Page -->
        <li class="page-item">
            <a class="page-link"
                href="javascript:void(0)"
                (click)="gotoNextPage()"
                [class.disabled]="isLastPage"
                aria-label="Next">
                <span class="icon">&#8250;</span> <!-- › -->
            </a>
        </li>

        <!-- Last Page -->
        <li class="page-item">
            <a class="page-link"
                href="javascript:void(0)"
                (click)="gotoLastPage()"
                [class.disabled]="isLastPage"
                aria-label="Last">
                <span class="icon">&#187;</span> <!-- » -->
            </a>
        </li>
    </div>
</div>

