<div class="container mt-5">
  <!-- Loader Overlay -->
  <div *ngIf="isLoading" class="loader-overlay">
    <div class="loader"></div>
  </div>

  <h5 class="text-center text-primary mb-4">My Borrowed Book</h5>
  <hr />

  <div class="d-flex flex-column col-6" *ngIf="selectedBook">
    <h2>Return and Share feedback</h2>
    <div class="d-flex flex-column col-12">
      <div class="d-flex">
        <div class="col-1">
          <strong>Title</strong>
        </div>
        <div class="col-11">{{selectedBook.title}}</div>
      </div>
      <div class="d-flex">
        <div class="col-1">
          <strong>Author</strong>
        </div>
        <div class="col-11">{{selectedBook.authorName}}</div>
      </div>
      <div class="d-flex">
        <div class="col-1">
          <strong>Rate</strong>
        </div>
        <div class="col-11">{{selectedBook.rate}}</div>
      </div>
    </div>
    <hr />
    <div class="col-12">
      <form class="row g-3">
        <div class="d-flex gap-3">
          <input [(ngModel)]="feedBackRequest.note" type="range" class="form-range w-25" id="Rate" name="rate" min="0" max="5" step="0.5">
          <app-rating [rating]="feedBackRequest.note || 0"></app-rating>
          {{feedBackRequest.note}}
        </div>
        <div class="col-12">
          <label for="feedback" class="form-label">Feedback</label>
          <textarea [(ngModel)]="feedBackRequest.comment" rows="4" class="form-control" is="feedback" name="feedback" placeholder="Feedback"></textarea>
        </div>
        <div class="d-flex justify-content-end gap-2 col-12">
          <button (click)="returnBook(true)" type="submit" class="btn btn-outline-primary">
            <i class="fas fa-save">&nbsp;Rate the book & Return</i>
          </button>
          <button (click)="returnBook(false)" type="submit" class="btn btn-outline-success">
            <i class="fa-solid fa-paper-plane">&nbsp; Just Return</i>
          </button>
          <button (click)="selectedBook=undefined" class="btn btn-link btn-outline-danger">
            <i class="fas fa-times">&nbsp; Cancel</i>
          </button>
        </div>
      </form>
    </div>
  </div>
  
  <app-empty-state *ngIf="!isLoading && !borrowedBooks?.content?.length" [message]="'No borrowed books found.'"></app-empty-state>
  <table class="table table-striped table-bordered custom-table" *ngIf="borrowedBooks?.content?.length && !selectedBook">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ISBN</th>
        <th scope="col">Rate</th>
        <th scope="col"><i class="fas fa-cogs"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of borrowedBooks.content; let i = index">
        <td>{{i + 1}}</td>
        <td>{{book.title}}</td>
        <td>{{book.authorName}}</td>
        <td>{{book.isbn}}</td>
        <td><i class="fas fa-star text-warning"></i> {{book.rate}}</td>
        <td>
          <div class="d-flex gap-2 justify-content-center">
            <i class="fa-regular fa-paper-plane text-primary" *ngIf="book.returned"></i>
            <i class="fa-solid fa-paper-plane text-success" (click)="returnBorrowedBook(book)" *ngIf="!book.returned"></i>
            <i class="fa-solid fa-circle-check" [class.text-success]="book.returnApproved"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    [totalItems]="borrowedBooks.totalElements || 0"
    [currentPage]="page"
    [itemsPerPage]="size"
    [totalPages]="borrowedBooks.totalPages || 0"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
