<div
    class="card border-2"
    style="width: 20rem;"
    [class.border-success] = "book.shareable"
    [class.border-warning] = "book.archived"
>
    <img
        [src]="bookCover"
        class="card-img-top"
        alt="..."
    />
    <div class="card-body overflow-scroll">
        <h5 class="card-title fs-6 text-nowrap fw-bold mb-1">
            <i class="fa-solid fa-book"></i>
            <span class="margin-left-8">{{ (book.title && book.title.length > 30) ? (book.title | slice:0:30) + '...' : book.title }}</span>
        </h5>
        <h5 class="card-title fs-6 text-secondary fw-bold mb-1">
            <i class="fa-solid fa-user-check"></i>
            <span class="margin-left-4">{{ (book.authorName && book.authorName.length > 30) ? (book.authorName | slice:0:30) + '...' : book.authorName }}</span>
        </h5>
        <h6 class="card-title fs-6 text-secondary fw-bold mb-1">
            <i class="fas fa-code"></i>
            <span class="margin-left-8">{{book.isbn }}</span>
        </h6>
        <h6 class="card-title fs-6 text-secondary fw-bold mb-1">
            <i class="fas fa-user"></i>
            <span class="margin-left-8">{{ (book.owner && book.owner.length > 30) ? (book.owner | slice:0:30) + '...' : book.owner }}</span>
        </h6>
        <hr />
        <p class="card-text">{{ book.synopsis}}</p>
    </div>
    <div class="card-footer gap-2 d-flex justify-content-between align-items-center">
        <div class="d-flex gap-2">
            <app-rating [rating]="book.rate"></app-rating>
            <span class="fw-bold" *ngIf="book.rate || 0 > 0">
                {{ book.rate }}
            </span>
        </div>
        <div class="d-flex gap-2" *ngIf="!manage">
            <i (click)="onShowDetails()" class="fa fa-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Show details"></i>
            <i (click)="onBorrow()" class="fas fa-list-check text-primary"></i>
            <i (click)="onAddToWaitingList()" class="fas fa-heart text-danger"></i>
        </div>
        <div class="d-flex gap-2" *ngIf="manage">
            <i (click)="onEdit()" class="fas fa-edit text-success"></i>
            <i (click)="onShare()" class="fas fa-share-nodes text-primary"></i>
            <i (click)="onArchive()" class="fas fa-archive text-danger"></i>
        </div>
    </div>
</div>