

div {
    &.card {
        min-height: 450px;
        min-width: 400px;
    }
    &.card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 16rem;
    }
}

i {
    cursor: pointer;
}

.card-img-top {
    height: 400px;
    object-fit: cover;
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-left-4 {
    margin-left: 4px;
}