.pagination-container {
    margin-top: 20px;
  }
  
  .pagination .page-item {
    display: inline-block;
  }
  
  .pagination .page-link {
    padding: 10px;
    cursor: pointer;
  }
  
  .pagination .page-link.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  
  .pagination .page-link.active {
    font-weight: bold;
  }
  