<div class="d-flex justify-content-between">
    <p>My book List</p>
    <div class="d-flex justify-content-end mb-3">
        <a routerLink="/books/manage" class="btn btn-outline-primary">
            <i class="fas fa-plus"></i>&nbsp;Add Book
        </a>
    </div>  
</div>

<app-loader *ngIf="isLoading"></app-loader>
<hr />

<div class="d-flex justify-content-start gap-2 flex-wrap" *ngIf="bookResponse?.content?.length">
    <app-book-card 
        *ngFor="let book of bookResponse.content" 
        [book]="book"
        [manage]="true"
        (archive)="archiveBook($event)"
        (edit)="editBook($event)"
        (share)="shareBook($event)">
    </app-book-card>
</div>

<app-pagination
    [totalItems]="bookResponse.totalElements || 0"
    [currentPage]="page"
    [itemsPerPage]="size"
    [totalPages]="bookResponse.totalPages || 0"
    (pageChange)="onPageChange($event)">
</app-pagination>